@model test.Areas.Moderator.Models.PostViewModel
@using IService.Models
@using test.Models
@{
    var model = Model;
}
<div class="post-first">

    @using (Html.BeginForm("Posts", "Posts", FormMethod.Get, new { @class = "form-actions no-color" }))
    {
        <div class="first">
            <span class="ann">Опубликованные посты</span>
            <div>
                <input type="text" class="search-field" name="SearchField" value="@Model.SearchField" />
                <button type="submit" class="search" value="Search"><i class="fa fa-search"></i></button>
            </div>
        </div>
    }
</div>

@foreach (var postlist in model.PostsList)
{
    <div class="post" id="@postlist.Id">
        <p class="author">Автор: <b>@postlist.Author.UserName</b></p>
        <div class="info">
            <p>
                <span>Категория: </span>
                @Html.ActionLink(@postlist.Category.Name, "Posts", new
           {
               categoryName = @postlist.Category.Name,
               searchField = Model.SearchField
           }, null)
                <span> Тэги: </span>
                @foreach (TagModel c in postlist.Tags)
                {
                    <span class="tag-post">
                        @Html.ActionLink(@c.Name, "Posts", new
                   {
                       tagName = @c.Name,
                       searchField = Model.SearchField
                   }, null)
                    </span>
                }
            </p>
        </div>
        <h3 class="title">@postlist.Title</h3>
        <div class="desc-post">
            <p>@Html.Raw(@postlist.ShortDescription)</p>
        </div>
        <div class="foot">
            <span class="date">Опубликовано: @postlist.Published.ToString("dd MMMM yyyy HH:mm")</span>
            <span><a class="action" href="@Url.Action("EditPost/" + @postlist.Id, "Posts")"><i class="fa fa-edit"></i> Редактировать</a></span>
            <span>
                <a class="action" href="@Url.Action("DeletePost/" + @postlist.Id, "Posts")" onclick=" return confirm('Удалить?');">
                    <i class="fa fa-trash"></i> Удалить
                </a>
            </span>
        </div>
    </div>
}
<br /><br />
<section>
    <nav role="navigation">
        <ul class="cd-pagination no-space">
            <li class="button"><a href="#0"></a></li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="button">
                    @if (i == Model.PageNumber)
                    {
                        @Html.ActionLink(i.ToString(), "Posts", new
                   {
                       pageNumber = i,
                       tagName = Model.TagName,
                       categoryName = Model.CategoryName,
                       searchField = Model.SearchField
                   },
                       new { @class = "post-page current", id = "current" })
                    }
                    else
                    {
                        @Html.ActionLink(i.ToString(), "Posts", new
                   {
                       pageNumber = i,
                       tagName = Model.TagName,
                       categoryName = Model.CategoryName,
                       searchField = Model.SearchField
                   },
                       new { @class = "post-page" })
                    }
                </li>
            }
            <li class="button"><a href="#0"></a></li>
        </ul>
    </nav>
</section>
