@model IService.Models.Moderator.EditCreatePostModel
@using IService.Models
@{
    ViewBag.Title = "EditPost";
    Layout = "~/Areas/Moderator/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование поста</h2><br />

<div class="post">
    <div class="row">
        @using (Html.BeginForm("CreatePost", "Posts", FormMethod.Post,
                            new { @class = "form-horizontal form-row-sepe", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-body">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => @Model.Id)
                <div class="alert alert-success display-hide">
                    <button class="close" data-close="alert"></button>
                    Your form validation is successful!
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Заголовок
                    </label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Краткое описание
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.ShortDescription, new { @rows = 10, @class = "form-control post-area", @id = "sdesc" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Полное описание
                    </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Description, new { @rows = 20, @class = "form-control post-area", @id = "desc" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Категория
                    </label>
                    <div class="col-md-10">
                        <select class="form-control input-small select2me" name="selectedCategory"  style="width:200px;">
                            @foreach (CategoryModel c in Model.CategoriesList)
                            {                               
                                 <option value="@c.Id" id="select_@c.Id">@c.Name</option>                               
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        Тэги
                    </label>
                    <div class="col-md-10 checkboxes">                       
                        @foreach (TagModel c in Model.UnTags)
                        {
                            <input type="checkbox" name="selectedTag" value="@c.Id" id="check_@c.Id" />
                            <label for="check_@c.Id" class="check btn default">@c.Name</label>
                        }
                    </div>

                </div>
            </div>
            <br />
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-2 col-md-9">
                        <button type="submit" class="btn blue"><i class="fa fa-check"></i> Применить</button>
                        <a class="btn red" onclick="history.go(-1); return false;">Отменить</a><br />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

