@model test.Models.Posts
@using IService.Models
@using test.Models
@{ 
    var model = Model;
}
@foreach (var postlist in model.PostsList)
{
    <div class="post" id="@postlist.Id" style="padding:20px 0;">
        <div class="title-post" style="background-color:#eee; padding:5px 0 15px  30px;">
            <h3>
                @*<a style="text-decoration:none; color: #444;" href="Post/@postlist.UrlTitle">@postlist.Title</a>*@
                @Html.ActionLink(@postlist.Title, "post", new { urlTitle = @postlist.UrlTitle }, new { @class = "title-text"})
            </h3>
        </div>
        <div class="info-post" style="padding:10px 0;">
            <p>
                <span>Категория: </span>
                @Html.ActionLink(@postlist.Category.Name, "Index", new
           {
               page = 1,
               category = @postlist.Category.UrlName               
           }, null)
                <span> Тэги</span>
                @foreach (TagModel c in postlist.Tags)
                {                   
                    <span class="tag-post">
                        @Html.ActionLink(@c.Name, "Index", new {
                       page = 1,
                       tag = @c.UrlName                      
                   }, null)
                </span>
                }
                <span style="float:right;">@postlist.Published.ToString("dd MMMM yyyy HH:mm")</span>
            </p>
        </div>
        <div class="desc-post">
            <p>@Html.Raw(@postlist.ShortDescription)</p>
        </div>
        <div class="learn-post">
            <span class="author-post" style="float:left;">Author: @postlist.Author.UserName</span>
            <span style="float:right;"><a href="/Home/Post/@postlist.Id">Дальше ...</a></span>
        </div>
    </div>
}
<br /><br />
<section>
    <nav role="navigation">
        <ul class="cd-pagination no-space">
            <li class="button"><a href="#0"></a></li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="button">
                    @if (i == Model.Page)
                    {
                        @Html.ActionLink(i.ToString(), "Index", new {
                       page = i,
                       tag = Model.Tag,
                       category = Model.Category,
                       q = Model.q },
                       new { @class = "page current", id = "current" })
                    }
                    else
                    {
                        @Html.ActionLink(i.ToString(), "Index", new {
                       page = i,
                       tag = Model.Tag,
                       category = Model.Category,
                       q = Model.q },
                       new { @class = "page" })
                    }
                </li>
            }
            <li class="button"><a href="#0"></a></li>
        </ul>
    </nav>
</section>