@model test.Areas.Moderator.Models.CategoryViewModel
@using IService.Models

<div class="row">
    <div class="col-md-12">
        <div class="post-first">
            @using (Html.BeginForm("Categories", "Categories", FormMethod.Get, new { @class = "form-actions no-color" }))
            {
                <div class="first">
                    <span class="ann">Используемые категории</span>
                    <div>
                        <input type="text" class="search-field" name="SearchField" value="@Model.SearchField" />
                        <button type="submit" class="search" value="Search"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet box white">           
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="btn-group">
                                @Html.ActionLink("Добавить новую", "CreateCategoryPartial", null, new { @class = "create-category-popup btn green" })                               
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                    <thead>
                        <tr><th>Название</th><th>Url представление</th><th>Родительская категория</th><th>Редактировать</th><th>Удалить</th></tr>
                    </thead>
                    <tbody>
                        @foreach (var categories in Model.Categories)
                        {
                            <tr>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => categories.Name)
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => categories.UrlName)
                                </td>
                                <td class="center">
                                    @Html.DisplayFor(modelItem => categories.ParentName)
                                </td>
                                <td>
                                    @Html.ActionLink("Редактировать", "EditCategoryPartial", null, new { @class = "edit-category-popup", idCategory = categories.Id })
                                </td>
                                <td>
                                    @Html.ActionLink("Удалить", "Delete", new { Id = categories.Id }, new
                           {
                               onclick = "return confirm('Пользователь " + categories.Name + " будет удален')"
                           })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*<div class="col-md-4 col-sm-6 col-xs-12" style="padding: 10px 15px;">
            <div class="tag">
                <div class="title-tag">
                    <p style="margin:0;">Категория</p>
                    <p class="name-tag">@categories.Name</p>
                </div>
                <div class="form-tag" style="display:none;">
                    @using (Html.BeginForm("EditCategory", "Categories", FormMethod.Post, new { @class = "form-horizontal form-row-sepe", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-body">
                            @Html.ValidationSummary(true)
                            <input id="categories.Id" name="Id" type="hidden" value="@categories.Id" />
                            <div style="height:60px;">
                                <p style="margin:0;">Категория</p>
                                <input class="form-control text-box single-line" id="Name_@categories.Id" name="Name" type="text" value="@categories.Name" />
                            </div>
                        </div>
                        <hr />
                        <div class="submit-tag">
                            <a class="btn tag-cancel"><i class="fa fa-arrow-left"></i></a>
                            <button type="submit" class="btn"><i class="fa fa-check"></i></button>
                        </div>
                    }
                </div>
                <div class="action-tag">
                    <hr />
                    <a class="btn tag-edit"><i class="fa fa-edit"></i></a>
                    <a class="btn tag-delete" href="/Moderator/Categories/DeleteCategory/@categories.Id"  onclick=" return confirm('Удалить');"><i class="fa fa-trash"></i></a>
                </div>

            </div>
        </div>*@

    @*<div class="col-md-4 col-sm-6 col-xs-12" style="padding: 10px 15px;">
            <div class="tag">
                <div class="form-tag">
                    @using (Html.BeginForm("CreateCategory", "Categories", FormMethod.Post, new { @class = "form-horizontal form-row-sepe", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-body">
                            @Html.ValidationSummary(true)
                            <input id="categories.Id" name="Id" type="hidden" value="0" />
                            <div style="height:60px;">
                                <p style="margin:0;">Новая категория</p>
                                <input class="form-control text-box single-line" id="Name" name="Name" type="text" value="" />
                            </div>
                        </div>
                        <hr />
                        <div class="submit-tag" style="text-align:center;">
                            <button type="submit" class="btn"><i class="fa fa-check"></i></button>
                        </div>
                    }
                </div>
            </div>
        </div>*@

    <section>
        <div class="col-md-12">
            <br /><br />
            <nav role="navigation">
                <ul class="cd-pagination no-space">
                    <li class="button"><a href="#0"></a></li>
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="button">
                            @if (i == Model.PageNumber)
                            {
                                @Html.ActionLink(i.ToString(), "Categories", new
                           {
                               pageNumber = i,
                               searchField = Model.SearchField
                           },
                        new { @class = "category-page current", id = "current" })
                            }
                            else
                            {
                                @Html.ActionLink(i.ToString(), "Categories", new
                           {
                               pageNumber = i,
                               searchField = Model.SearchField
                           },
                        new { @class = "category-page" })
                            }
                        </li>
                    }
                    <li class="button"><a href="#0"></a></li>
                </ul>
            </nav>
        </div>
    </section>
</div>
